body {
    margin:0 ;
    background-color: rgb(187, 238, 240);
}

.img{
    max-width: 99%;
    max-height: 99%;
}
.image-slider{
    display:flex;
    width:100% ;
    background-color: black;
    height: 600px;
    position:relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.5ms;
    
}
button{
    position: absolute ;
}
.boton1{
    left:0;
}
.boton2{
    right:0;
}

button:hover {
     color: blue;
}

title > h2 {
    color: gold ;
    align-self: center;
}